doctype html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml"
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='A good bus to INSA openday')
  meta(name='author' content='RF, fache@etud.insa-toulouse.fr')
  meta(name='theme-color' content='#2F3BA')
  //more immersive
  //Add iOS meta tags and icons
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  meta(name="apple-mobile-web-app-title" content="GOINSA")
  link(rel="apple-touch-icon" href=URL+'/images/icons/icon-152x152.png') 
  //Pug gère :img(src=`/images/${sensor}.png`, style="width:20%")
  //<div id=#{sensor} style="width:90%;height:250px;">
  //body(onload="initTemp('"+ sensor +"')")
  link(rel='icon' href=URL+'images/bus.png')
  //to add in each page for PWA
  link(rel='manifest' href=URL+'/manifest.json')
  title #{title}
  link(href='https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cerulean/bootstrap.min.css' rel='stylesheet' integrity='sha384-C++cugH8+Uf86JbNOnQoBweHHAe/wVKN/mb0lTybu/NZ9sEYbd+BbbYtNpWYAsNP' crossorigin='anonymous')
  // Bootstrap core CSS
  //link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // Place your stylesheet here
  link(href=URL+'/stylesheets/style.css' rel='stylesheet' type='text/css')
  body(onkeydown="keyCode(event)")
#main.jumbotron.container-fluid
  .container
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.mb-3
        div
          img#planINSA.img-fluid(style='z-index: 1; ' src=URL+'images/plan_campus_insa.png' aria-label='' title="Plan de l'INSA Toulouse!")
          img#position_car.img-fluid(style='z-index: 2; position:absolute; top:0px; left:0; visibility: hidden;' src=URL+'images/bus.png' aria-label='' title="Plan de l'INSA Toulouse!")
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.mb-3
        section
          h1  Commande de la navette 
          form#mySuperForm(method='post' action="reservation/42" )
            label(for='seats')  Nombre de passagers :
            input#number_passengers(type='number' min='1' max='5' value='1' name='seats' size='1')
            br
            label(for='in')  D&eacute;part :
            select#departure(name="selecterIN")
              option(value='1' )  1: Amphith&eacute;atre Fourier 
              option(value='2' )  2: STPI 
              option(value='3' )  3: Amphith&eacute;atre Riquet 
              option(value='4' )  4: Salle d&apos;examen 
            br
            label(for='out')  Arriv&eacute;e :
            select#destination(name="selecterOUT")
              option(value='1')  1: Amphith&eacute;atre Fourier 
              option(value='2', selected="selected" )  2: STPI 
              option(value='3' )  3: Amphith&eacute;atre Riquet 
              option(value='4' )  4: Salle d&apos;examen 
            br
            input(type="submit" value="Commander")
        #result_form_submit
        section
          h1  Informations : 
          p
            | Nombre de places disponibles : 
            span#available_seats 
          p
            | Temps de trajet estim&eacute; : 
            span#estimated_time   
          p
            |Max Attente estim&eacute;e : 
            span#estimated_waiting_time  
    //#grille(style="display: inline-grid;grid-template-columns: auto auto auto;")
    #GPS
        //#countdown( style="padding: 20px;text-align: center;")
    #RESULT_POST
    #boutons  
    table(style='width:100%', border='1')
      tr
        th Direction
        th Speed
        th Angle
      tr
       td(onclick="send_req('FORWARD','i')")
          a(href='#RESULT_POST') FORWARD
       td(onclick="send_req('SPEED+','a')")
          a(href='#RESULT_POST') SPEED+
       td(onclick="send_req('ANGULAR+','q')")
          a(href='#RESULT_POST') ANGULAR+
      tr
       td(onclick="send_req('LEFT','u')")
          a(href='#RESULT_POST') LEFT
       td(onclick="send_req('SPEED-','z')")
          a(href='#RESULT_POST') SPEED-
       td(onclick="send_req('ANGULAR-','s')")
          a(href='#RESULT_POST') ANGULAR-
      tr
       td(onclick="send_req('RIGHT','o')")
          a(href='#RESULT_POST') RIGHT
       td
       td(onclick="send_req('LINEAR+','w')")
        a(href='#RESULT_POST') LINEAR+
      tr
       td(onclick="send_req('BACKWARD','k')")
          a(href='#RESULT_POST') BACKWARD
       td
       td(onclick="send_req('LINEAR-','x')")
        a(href='#RESULT_POST') LINEAR-
      tr
       td(onclick="send_req('STOP',' ')")
          a(href='#RESULT_POST') STOP

    #INFO
            p(onclick="getCtes()")
              a(href='#CTES') UPDATE INFO : Consultation des capteurs Mobility_Lab 
              //p!= INFO
    #CTES
      
footer.container
    p.float-right
        a(href='#') Top 
    p(style="color:white") &copy; 2020 PIR team 
// &middot;
script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
script(src=URL+'javascripts/countDown.min.js')
script(src=URL+'javascripts/main.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
